body{
   background-color: #333;
}

.container{
   width: 1340px;
   margin: 0 auto;
   padding: 20px;
}


.hero .container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero__box{
   margin-top: 250px;
   padding: 50px;
   border-radius: 10px;
   background-color:white;
}

.form__input{
   display: block;
   width: 200px;
   height: 30px;
   margin-bottom: 20px;
   padding-left: 10px;
}

.form__input::placeholder{
   color: #333;
}



.resault{
   display: block;
   padding: 10px;
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 20px;
   font-size: 24px;
   text-align: center;
   color: red;
}

.btn{
   display: block;
   width: 150px;
   margin: 0 auto;
   margin-bottom: 10px;
   padding: 10px;
   color: white;
   border: none;
   border-radius: 5px;
   background-color: red;
}

.btn:hover{
   box-shadow: black 1px 3px ;
}

.btn:active{
   opacity: 0.7;
}